body {
  padding: 20px 50px 100px;
  font-size: 13px;
  text-align: center;
  background-color:orange ;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 12px 4px 17px 0;
  list-style: ;
}
ul li {
  display: inline-block;
  margin-right: -2px;
  position: relative;
  padding: 15px 20px;
  background: white;
}
ul li:hover {
  background: grey;
  color: white;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  opacity: 0;
  visibility: hidden;
}
ul li ul li { 
  background: white; 
  display: block; 
  color: black;
}
ul li ul li:hover { background: grey; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}